<div class="row">
  <div class="col-xs-12 col-md-3">
    <h1>Editing Company</h1>
  </div>
</div>

<%= render 'form' %>
<br>
<div class="row">
  <div class="col-xs-12 col-md-3">
    <%= link_to 'Back', :back, class: "btn btn-default" %>
  </div>
</div>
